aside{
}
aside a#stu {

    background: #fff;
}

aside ul#stulist {
    height: 144px;

}
html,body{
}
aside ul:nth-of-type(1) li:nth-child(4) a {
    background: #6fb3e0;
}

.conf > h4{
    font:24px/42px "";
    color:#393f4b;
    border-bottom:1px dotted  #e2e2e2;
    text-align: center;
    margin-top:22px;

}
.margin{
    width:1090px;
    margin:0 auto;
}
.confContent{
    margin-top:20px;
    font:15px/40px "";
}
.confContent ul{


    border:0px solid black;
}
.confContent ul li{
    display: flex;
    height: 40px;
    margin-bottom:10px;
    overflow: hidden;
    position:relative;
    transition:  height .5s linear ;
    box-shadow: 2px 2px 5px 1px ;
    justify-content: space-between;
    cursor: pointer;

}
.confContent ul li:hover{
    transform: translate(5px,5px);
}
.confContent ul li p{
    flex:1;
    height:40px;
    font: 14px/40px "";
    text-indent: 10px;
    /*transition:  text-indent .5s linear ;*/
}
.confContent ul li span {
    width: 100px;
    height: 40px;
    text-align: left;
    font: 13px/40px "";
    color:#666;

}
.confContent ul li div{
    position: absolute;
    top:40px;
    padding:0 200px 0 50px;
    line-height:20px;
    color:#3c3c3c;

}