aside a#tec{
    background:#fff;
}
aside ul#teclist{
    height:144px;

}
aside ul#teclist li:nth-child(3) a{
    background: #6fb3e0;
}
.margin{
    width: 1119px;
    margin: 0 auto;
}
.className{
    font:16px/32px "";
    border-bottom:1px dotted black;
    margin-top:50px;
    text-indent: 10px;
    position: relative;
}
.btn{
    position: absolute;
    right:0;
    top:0;
    font:12px/25px "微软雅黑";
    background:#428bca;
    width:50px;
    height:25px;
    color:#fff;
    text-align:center;
    cursor: pointer;
    text-indent: 0px;
    border:2px solid #428bca;

}
.btn:hover{
    background-color: #1b6aaa;
}
.classInfo{

    display: none;
    overflow: hidden;
}
.classInfo ul{

}
.classInfo ul li{
    display: flex;
    background:#fff;
    font:13px/28px "";


}
.classInfo ul li span{



}
.classInfo ul li p{
    text-indent:10px;
    text-align:left;
    flex:1;
    height:28px;
    border-left:1px solid gray;
    box-sizing: border-box;
}
.classInfo ul li:nth-child(1){
    border-bottom:2px solid gray;
    background:#F2F2F2;
    font:15px/28px "";


}
.classInfo ul li p:nth-child(1){
    flex-basis:50px;
}
.classInfo ul li p:nth-child(5){
    flex-basis:100px;
}
.classInfo ul li p:nth-child(6){
    flex-basis:200px;
}
.classInfo ul li p:nth-child(7){
    flex-basis:80px;
}
.classInfo ul li p:nth-child(8){
    flex-basis:100px;
}
.infoTitle{
    border-bottom:1px solid gray;
}

#rightmeun{
    position: absolute;
    top:0;
    left:0;
    width:80px;
    height:30px;
    font:12px/30px "";
    background:#F2F2F2;
    display: none;
    text-indent: 4px;
    cursor: pointer;
}
.addBtn{
    height:30px;
    width:50px;
    background: #428bca;
    border:3px solid #428bca;
    font:12px "微软雅黑";
    cursor: pointer;
    color:#fff;

}
.addBtn:hover{
    background-color: #1b6aaa;
}

p input{
    width:90%;
    height:90%;
    border:none;
    margin-left:-10px;
    outline: none;
    text-indent:10px;
}
.comfirBtn,.updConBtn{
    height:20px;
    width:40px;
    display: block;
    background-color: #428bca;
    margin: 3px auto;
    text-indent: 0;
    text-align: center;
    font:12px/20px "微软雅黑";
    color:#fff;
    cursor: pointer;
    border:2px solid #428bca;
}
.comfirBtn:hover,.updConBtn:hover{
    background-color: #1b6aaa;
}
.deleteBtn,.updateBtn{
    display:inline-block;
    width:20px;
    height:20px;
    background-color: #428bca;
    margin:3px auto;
    font:12px/20px "微软雅黑";
    text-indent: 0;
    text-align: center;
    cursor: pointer;
    color:#fff;
}
.deleteBtn{
    margin-left:-10px;
    margin-right:5px;
    background: url(../image/i-15.png);
}
.updateBtn{
    background: url(../image/i-16.png);

}
