aside a#tec{
    background:#fff;
}
aside ul#teclist{
    height:144px;

}
aside ul#teclist li:nth-child(1) a{
    background: #6fb3e0;
}
#main .bf {
}

#main .bf .updateBtn { /*修改按钮父元素*/
    height: 42px;
    width: 1119px;
    margin: 0 auto;
    border-bottom: 1px dotted #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.updateBtn a { /*修改按钮*/
    display: block;
    width: 100px;
    height: 30px;
    background: #428bca;
    font: 13px/26px "";
    color: #fff;
    text-align: center;
    margin-right: 23px;
    box-sizing: border-box;
    border: 3px solid #428bca;
}

.updateBtn a:hover {
    background: #1b6aaa;
}

.profile { /*主要资料显示部分*/
    height:435px;
    width: 1090px;
    margin: 0 auto;
    border: 0px solid black;
    display: flex;
    padding-top: 12px;
    box-sizing: border-box;
    justify-content: space-between;

}

.profile .left { /*主要资料左侧*/
    height: 260px;
    width: 224px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 0px solid black;
}

.profile .photo { /*左侧中图片*/
    width: 178px;
    height: 198px;
    border: 1px dotted #bbb;
    outline: 4px solid #ccc;
    outline-offset: 4px;
    margin-top: 8px;
}

.profile .nam { /*左侧下方姓名栏*/
    width: 224px;
    height: 28px;
    background: #3a87ad;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font: 14px "";
    color: #fff;

}

.profile .nam:before { /*姓名栏左侧白色向内箭头*/
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    border-left: 7px solid white;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 7px solid transparent;
}

.profile .nam:after { /*姓名栏左侧白色向内箭头*/
    content: "";
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    right: 0;
    border-left: 7px solid transparent;
    border-top: 14px solid transparent;
    border-bottom: 14px solid transparent;
    border-right: 7px solid white;
}

.profile .nam > i { /*姓名栏中绿色圆点*/
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #b0d877;
}

.profile .nam > span:nth-child(2) { /*姓名栏中姓名*/
    margin: 0 15px 0 10px;
}

.profile > ul { /*右侧资料部分*/
    width: 809px;
    height: 353px;
    box-sizing: border-box;
    border: 1px solid #dcebf7;
}

.profile > ul > li {
    display: flex;
    border-bottom: 1px solid #f7fbff;
}

.profile > ul > li > span { /*资料标题...姓名。。专业。。。。身份证号等*/
    width: 110px;
    height: 31px;
    background: #edf3f4;
    font: 14px/31px "";
    text-align: right;
    box-sizing: border-box;
    padding-right: 10px;
    color: #336199;
}
#btnlist{
    height:50px;
    border:0px solid black;
    width: 1090px;
    margin:0 auto;
    display: flex;
    align-items: center;
}
.addTips,.addhomWor{
    height:40px;
    width:100px;
    background:#428bca;
    border:3px solid #428bca;
    font:14px/34px "微软雅黑";
    text-align: center;
    box-sizing: border-box;
    margin:0 20px;
    color:#fff;
    cursor: pointer;
}
.container{
    position: relative;
}
.addTips:hover,.addhomWor:hover{
    background: #1b6aaa;
}
#addTipArea,#addHomArea{
    height:600px;
    width:100%;
    background:#fff;
    border:1px solid black;
    position: absolute;
    top:0;
    display:none;

}
#addTipArea{

}
#addTipArea > h4,#addHomArea>h4{
    font:14px "微软雅黑";
    border-left:3px solid #88B7E0;
    width:300px;
    margin:40px 10px;
    text-indent: 5px;
}
#addTipArea >label,#addHomArea>label{
    display: block;
    font:13px "微软雅黑";
    margin:20px 20px;
}
#addTipArea >label textarea,#addHomArea>label textarea{
    vertical-align: top;
    font:13px "微软雅黑";
    width:800px;
    margin-left:10px;
}
#addTipArea >label input,#addHomArea>label input{
    height:30px;
    width:800px;
    margin-left:10px;

}
#addTipArea > i,#addHomArea>i{
    display: inline-block;
    height:40px;
    width:100px;
    background:#428bca;
    border:3px solid #428bca;
    font:14px/34px "微软雅黑";
    text-align: center;
    box-sizing: border-box;
    margin:0 20px;
    color:#fff;
    cursor: pointer;
}
#addTipArea > i:hover,#addHomArea>i:hover{
    background: #1b6aaa;
}

#addHomArea{
    display:none;
}
#addHomArea>label>span{
    width:60px;
    text-align: right;
    display: inline-block;

}